body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: #121212;
  color: #ddd;;
  margin: 20px 0;
}

.container {
  text-align: center;
  background-color: #1e1e1e;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ddd;
}

.controls, .question, .answer {
  margin: 20px 0;
}

.controls label {
  font-size: 20px;
  font-weight: bold;
}

.question {
  font-size: 24px;
  font-weight: bold;
}

select {
  background-color: #333;
  color: #ddd;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 10px;
}

button {
  background-color: #333;
  color: #ddd;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 15px 10px;
  font-size: 20px;
}

button:hover {
  background-color: #555;
}

input[type="number"] {
  background-color: #333;
  color: #ddd;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  width: 120px;
  margin: 0px 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 10px 0px;
}

.result {
  font-size: 20px;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
}